# Deployment buildout
# ===================

[buildout]
parts =
    ${buildout:lxml-parts}
    ${buildout:haproxy-parts}
    ${buildout:varnish-parts}
    ${buildout:nginx-parts}
    ${buildout:runscript-parts}
    ${buildout:vhosts-parts}
    supervisor

extends =
    packages.cfg
    buildout.d/lxml.cfg
    buildout.d/haproxy.cfg
    buildout.d/varnish.cfg
    buildout.d/nginx.cfg
    buildout.d/runscript.cfg
    buildout.d/vhosts.cfg

auto-checkout =

# Make sure buildout never attempts to update packages automatically for
# production use.
always-checkout = false

# Host names/IP addresses. See below for corresponding ports.
[hosts]
main            = 127.0.0.1
# The host that nginx proxies to
nginx-backend   = ${:varnish}
# The hostname/address that Varnish binds to
varnish         = localhost
# The hosts that are allowed to issue PURGE reuqests to Varnish
allow-purge     = localhost
# The IP address that Varnish proxies to (do not use a hostname)
varnish-backend = 127.0.0.1
# The hostname that HAProxy binds to
haproxy         = localhost
# Where to find the syslog deamon to log to
syslog          = localhost
# The hostname that memcached binds to
memcached       = localhost
# The hostname that supervisord binds to
supervisor      = localhost
# The public hostname used in virtual hosting, i.e. the public facing domain
public          = zope8.kreativkombinat.de
# The public hostnames used in virutal hosting based on the zope/plone instances
zope1           = fleckendeckend.de
zope2           = jms.kreativkombinat.de
zope3           = wad.coraggio.de


# Port corresponding to the hostnames above. Note that to bind to ports
# < 1024, you will need to run ./bin/supervisord as root!
[ports]
http            = 80
https           = 443
nginx-backend   = ${:varnish}
varnish         = 8100
varnish-backend = ${:haproxy}
haproxy         = 8200
haproxy-stats   = 8222
instance1       = 8001
instance2       = 8002
instance3       = 8003
instance4       = 8004
zeoserver       = 8300
instance-debug  = 8499
syslog          = 514
memcached       = 11211
database        = 3306
supervisor      = 9001
# Ports for the hosted zope instances
zope1           = 8401
zope2           = 8402
zope3           = 8403

[users]
# Process owners for nginx, varnish, haproxy, memcached and Zope
nginx            = www
varnish          = www
haproxy          = www
zope-process     = www
memcached        = www

# System user accounts for Zope root admin, database access and Supervisor
zope-admin       = zope-admin
database         = zope
supervisor-admin = supervisor-admin

# Passwords for the accounts above
[passwords]
zope-admin       = secret
database         = secret
supervisor-admin = secret

# Database instances for SQLAlchemy and RelStorage
[databases]
optilux = optilux
zodb    = zodb

[locations]
templates = ${buildout:directory}/etc/templates
config = ${buildout:directory}/etc/vhosts

# How should varnish store its cache? Increase thesize, in megabytes, as required
[varnish-options]
storage = malloc,1024M

[limits]
# How many open files are allowed? This affects the number of concurrent
# connections. On some operating systems, this is set on startup per user
# as the ulimit
open-files = 1024
# Timeout of inactivity for Beaker sessions
session-timeout = 600

[urls]
# This URL is used in the nginx configuration to serve an error page when
# HAProxy detects no viable backend
fallback = /system-error

[sites]
# Plone site ids - used in virtual hosting
main    = localhost
zope1   = fleckendeckend
zope2   = jms
zope3   = wad

# Install supervisor, which runs on port 9001
# Run: ``bin/supervisord``
# Run: ``bin/supervisorctl --help``
[supervisor]
recipe = collective.recipe.supervisor
port = ${ports:supervisor}
user = ${users:supervisor-admin}
password = ${passwords:supervisor-admin}
serverurl = http://${hosts:supervisor}:${ports:supervisor}
programs =
    10 nginx                        ${nginx-build:location}/sbin/nginx true
    20 varnish                      ${varnish-build:location}/sbin/varnishd [-F -s ${varnish-options:storage} -f ${buildout:directory}/etc/varnish.vcl -a :${ports:varnish} ${varnish-options:tuning}] true
    30 haproxy                      ${buildout:directory}/bin/haproxy       [-f ${buildout:directory}/etc/haproxy.conf] true ${users:haproxy}
    40 instance-${sites:zope1}      ${zope-locations:zope1}/bin/instance [console] true ${users:zope-process}
    40 instance-${sites:zope2}      ${zope-locations:zope2}/bin/instance [console] true ${users:zope-process}
    40 instance-${sites:zope3}      ${zope-locations:zope3}/bin/instance [console] true ${users:zope-process}
    
    
