# Additional configuration for virtual hosting
# ============================================

[buildout]
vhosts-parts =
    vhost-zope1
    vhost-zope2
    vhost-zope3
    vhost-zope4
    vhost-zope5
    vhost-zope6
    vhost-zope7

# Location of zope installs
[zope-locations]
zope1         = /opt/sites/${sites:zope1}/buildout.${sites:zope1}
zope2         = /opt/sites/${sites:zope2}/buildout.${sites:zope2}
zope3         = /opt/sites/${sites:zope3}/buildout.${sites:zope3}
zope4         = /opt/sites/${sites:zope4}/buildout.${sites:zope4}
zope5         = /opt/sites/${sites:zope5}/buildout.${sites:zope5}
zope6         = /opt/sites/${sites:zope6}/buildout.${sites:zope6}
zope7         = /opt/sites/${sites:zope7}/buildout.${sites:zope7}


# Single virtual host configuration. Copy this part for further hosts
[vhost-zope1]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:zope1}.conf
output = ${locations:config}/${sites:zope1}.conf

[vhost-zope2]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:zope2}.conf
output = ${locations:config}/${sites:zope2}.conf

[vhost-zope3]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:zope3}.conf
output = ${locations:config}/${sites:zope3}.conf

[vhost-zope4]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:zope4}.conf
output = ${locations:config}/${sites:zope4}.conf

[vhost-zope5]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:zope5}.conf
output = ${locations:config}/${sites:zope5}.conf

[vhost-zope6]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:zope6}.conf
output = ${locations:config}/${sites:zope6}.conf

[vhost-zope7]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:zope7}.conf
output = ${locations:config}/${sites:zope7}.conf
